#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.WOD {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 100px;
  margin-bottom: 100px;
}

.lettersWORD {
  border-bottom: 2px solid black;
  gap: 5px;
  width: 80px;
  height: 100px;
  background-color: rgb(47, 49, 52);
}

.button-letters {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin: 5px 5px;
}
