#root {
  padding: 1rem;
  text-align: center;
}

header {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

header img {
  background-color: aliceblue;
  width: 50px;
  height: 100%;
  margin-top: 1px;
  align-self: center;
}

.wordhint {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.WOD {
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.lettersWORD {
  border-bottom: 2px solid black;
  width: 80px;
  height: 100px;
  background-color: rgb(47, 49, 52);
}
.button-container {
  margin-bottom: 4rem;
}

.button-letters {
  border: 2px solid black;
  margin: 5px 5px;
  font-size: 30px;
}
